
Solo Learn.JavaScript is a app for people to learn how to code in the main languages such as Python and JavaScript. This repository is specifically my journey with SoloLearn on mastering JavaScript. Code from Exercises and Projects under Solo Learn will be in this repository.README.md
